#surface {
	height: 480px;
	width: 480px;
	margin: 30px auto;
	background-color: #f0f0f0;
}

.square {
	float: left;
}

#refresh {
	display: block;
	cursor: pointer;
	border: 0px none;
	height: 30px;
	width: 51px;
	margin: 30px auto;
	background-color: #f0f0f0;	
}