#wrapper {
	width: 480px;
	margin: 0px auto;
}

#surface {
	height: 480px;
	width: 480px;
	margin: 10px auto;
	background-color: #f0f0f0;
}

.square {
	float: left;
}

button {
	display: block;
	cursor: pointer;
	border: 0px none;
	height: 30px;
	width: 60px;	
	background-color: #e0e0e0;
}

.left {
	float: left;
	margin-left: 75px;
}

.right {
	float: right;
	margin-right: 75px;
}

.active {
	background-color: #b0b0b0;
}

#setColor {
	margin: 50px auto 10px auto;
	width: 157px;
	background-color: #e0e0e0;
}

#setColor > span {
	display: block;
	margin: 0px auto;
	text-align: center;
	padding-top: 10px;
	font-size: 11px;
	font-family: "Lucida Grande", sans-serif;
	height: 20px;
	width: 157px;
}

#setColor > input {
	display: block;
	border: 3px solid #e0e0e0;
	margin: 0px auto;
}
